@mixin tc-skin {
    border: solid 1px $border-color;
    margin-top: 12 * $empty-space;
    margin-left: $large-space;
}

@mixin tc-header-skin {
    background: $tc-header-back-color;
    color: $tc-header-color;
    font-size: 130%;
    padding: $large-space;
}

@mixin commenter-skin {
    border: solid 1px $app-back-color;
    
    background-color: $story-back-color;
    color: $story-color;
}