.commenter {
    @include commenter-skin;

    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;

    .user-id-container {
        width: 100%;
    }

    .comment-count {
        @include story-title-skin;

        display: flex;
        flex-direction: row;
        align-items: center;

        div, i {
            margin-left: $empty-space;
        }
    }
}