.top-commenters {
    @include tc-skin;

    display: flex;
    flex-direction: column;
    width: 30%;

    .tc-header-container {
        @include tc-header-skin;

        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .tc-list-container {
        overflow-y: auto;
    }
}