.top-stories {
    @include inner-header-skin;

    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    height: 100%;
    width: 100%;

    .top-stories-header {
        @include top-stories-header-skin;

        .ts-header-container {
            display: flex;
            position: relative;
        }
    }

    .ts-list-container {

        display: flex;
        position: relative;
        overflow-y: auto;
        height: 100%;

        .top-stories-list {
            width: 100%
        }
    }
    
}