.top-stories {
    @include top-stories-skin;

    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    overflow-y: auto;

    .top-stories-header {
        @include top-stories-header-skin;

        .ts-header-container {
            display: flex;
            position: relative;
        }

        .refresh-btn {
            @include top-stories-refresh-btn-skin;

            display: flex;
            align-items: center;

            .spin {
                animation: fa-spin 500ms infinite linear;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    .ts-list-container {

        display: flex;
        position: relative;

        .top-stories-list {
            width: 100%
        }
    }
    
}