.home {
    @include app-skin;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .home-body {
        position: relative;
        display: flex;
        flex-direction: row;
        height: 100%
    }
}