.app-header {
    @include header-skin;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .app-title {
        position: relative;
        bottom: 2 * $empty-space;
    }
}