.story {
    @include story-skin;

    display: flex;
    flex-direction: row;
    align-items: center;

    
    .story-title {
        @include story-title-skin;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 50%;
    }

    .additional-info {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 40%;
        right: 0;
        margin: 0 $empty-space;
    }

    .creation-date {
        @include creation-date-skin;

        position: absolute;
        right: 0;
        width: 40%;
    }

    .user-id-container {
        left: 0;
        margin-right: $large-space;
    }
}