$header-back-color: #390448;
$header-color: #ad8585;
$app-back-color: #fbf3f3;

$border-color: #c1c1c1;
$story-back-color: #f1f1f1;
$story-color: #7d4b4b;

$dark-color: #100f0f;

$top-stories-header-title-color: #1C1919;

$tc-header-back-color: #cfcfd8;
$tc-header-color: #1C1919;

$light-font-color: #a08181;